@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap%27');
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

a:link{
    text-decoration: none;
}
a:visited{
    color: #000;
}

nav {
    display: flex;
    z-index: 1000;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    position: sticky;
    top: 0;
}
nav h1{
    font-size: 20px;
}
nav .onglets {
    display: flex;flex-wrap: wrap;
}
nav .onglets p{
    font-size: 17px;
    margin-right: 10px;
    cursor: pointer;
}
nav .onglets input{
    margin: 8px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #f2f2f2;
}
nav .onglets a{
    text-decoration: none;
    color: black;
}
footer{
    margin-top: 100px;
    background-color:#000;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}
footer .social-media{
    display: flex;
}
footer .social-media p{
    margin-right: 15px;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 5px;
    text-align: center;
    width: 20px;
    cursor: pointer;
    }

.printForm{
    margin-top: 50px;
    margin: 0 auto;
    border: 5px solid;
    padding: 30px;
    border-color: rgb(167, 167, 167);
    width: 650px;
    align-items: center;
    line-height: 25px;
    border-radius: 25px;
    background-color: rgb(215, 233, 233);
}