@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #DFF2D8;
}

/* Header (nav)*/
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0px;
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    top: 0;
    z-index: 999999;
    width: 100%;
}

nav h1 {
    font-size: 20px;
    padding-left: 20px;
}

nav .onglets {
    display: flex;
    flex-wrap: wrap;
}

nav .onglets p {
    font-size: 17px;
    margin-right: 10px;
    cursor: pointer;
}

nav .onglets a {
    text-decoration: none;
    color: black;
}

figure,
figure img {
    margin: 0;
    width: 100%;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: #000;
}

@media (min-width: 980px) {

    .nav-open,
    .nav-close {
        display: none;
    }
}

@media (max-width: 980px) {
    div.onglets {
        flex-direction: column;
    }

    .nav-open,
    .nav-close {
        position: absolute;
        right: 15px;
        color: #000;
        text-decoration: none;
        font-size: 70px;
    }

    .nav-open {
        display: block;
    }

    .nav-close {
        display: none;
    }

    #contenu:target .nav-close {
        display: block;
    }

    #contenu:target .nav-open {
        display: none;
    }

    div.onglets {
        flex-direction: column;
        position: absolute;
        right: -300px;
        background-color: rgb(205, 205, 205);
    }

    #contenu:target div.onglets {
        right: 0px;
        background-color: white;
        top: 80px;
        width: 400px;
        padding-block: 10px;
        justify-content: center;
        text-align: center;
        align-content: center;
        transition-duration: 0.1s;
        justify-content: start !important;
    }
    nav {
        height: 80px !important;
    }
    .onglets a {
        font-size: 30px !important;
    }
    nav .onglets p {
        padding: 0 !important;
    }
    .aboutImg img
        {
        object-fit: cover;
        width: 100%;
        max-height: 100%;
        }
        div div
    {
    width: 100%;
    }
    div
        {
        display: block;
        justify-content: center;
        }
}

/*Fin header (nav)*/

/*Section Principale*/
/*Acceuil*/
h2 {
    text-align: center;
}

section p {
    text-align: justify;
}

/*Les div*/
div figure img {
    margin: 0;
    width: auto;
}

div {
    display: flex;
    justify-content: center;
}

div div {
    width: 50%;
}

section div {
    text-align: center;
    margin: 0px 20px 20px 20px;
}

/*Fin des div*/

section>figure {
    width: 50%;
    margin: 0;
}

h3 {
    text-align: center;
    margin: 5px;
}

p {
    text-align: center;
}

#center {
    text-align: center;
}

/*Fin acceuil*/

/*Mentions légales*/
pre {
    background-color: #ccc;
}

/*Fin mentions légales*/

/*Contact*/
form>fieldset {
    margin: 10px;
    margin-left: 40px;
}

form>fieldset>fieldset>div {
    justify-content: left;
    margin: 10px;
}

.grid {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.radio {
    display: flex;
    align-items: center;
}

input[type=submit] {
    font-size: 20px;
}

button {
    padding: 0;
    border: 0;
    width: 100%;
    background-color: #fff;
}

#forML {
    margin-top: 40px;
}

/*Fin contact*/
/*Fin Section Principale*/

/*Footer*/
footer {
    margin-top: 100px;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}

footer .social-media {
    display: flex;
}

footer .social-media p {
    margin-right: 15px;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 5px;
    text-align: center;
    width: 20px;
    cursor: pointer;
}

footer i {
    color: white;
}

/*Fin footer */

/*Connexion*/
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container form {
    text-align: center;
    background-color: green;
    border-radius: 5px;
}

.form-group {
    width: auto;
    padding: 10px;
}

.form-group input,
.form-group button {
    width: 100%;
    padding: 10px;
    margin: 10px;
}

#creation {
    display: none;
}

/*Fin connexion*/