@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

 
* {
    font-family: 'Roboto', sans-serif;
}

body {
  background-color: #ffffff;
  overflow-x: hidden;

}
section div {
  text-align: center;
  margin: 0;
}

#accueil, #connexion{
    
    background: url('../images/foret.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    height: 100vh;
}
nav{
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0;
  margin: 0;
  height: 80px;
  box-shadow: 0 0px 20px 2px rgba(0, 0, 0, 0.1);
}
nav h1, nav .onglets {  
    padding: 0;
    margin: 0;
    justify-content: center;
    display: flex;
    align-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    color: rgb(10, 10, 10);
    flex-wrap: nowrap;
}
nav .onglets p {
    padding-right: 7%;
    white-space: nowrap;
}
.onglets a {
    font-size: 20px;
}

#contenu {
    width: 100vw;
}

.centerAccueil {
    margin: 0;
    height: auto;
    width:100%;
}
.centerAccueil div{
    display:flex ;
    position: absolute;
    margin-top: 45vh;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.centerAccueil div h2{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 60px;
    /* background: url('../images/foret.jpg') ;
    background-size: 240%;
    background-position: 40% 0%;
    -webkit-background-clip: text;
    color: transparent; */
    color: rgb(10, 10, 10);
    /* text-shadow: 0 0px 17px rgba(0, 0, 0, 0.14); */
}
.centerAccueil img{
    margin: 0;
    height: auto;
    width:100%;
}
.aboutText {
    display: block;
    margin-block: 4%;
    padding-inline:3%;
}
.aboutText h2{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 60px;
    color: rgb(10, 10, 10);
    white-space: nowrap;
    padding-inline:4%;
}
.aboutText p{
    font-size: 18px;
    color: rgb(10, 10, 10);
    line-height: 1.6;
    text-align: left;
    padding-inline:4%;
    
}

.aboutImg {
    padding: 0;
    margin: 0;
}

.aboutImg img{
    object-fit: cover   ;  
    min-width: 100%;
    height: 100%;

}
.login-container form
{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 10%;
  border-radius: 0;
}
.form-group
{
  width: auto;
  padding: 10px;
  display: block;
}
.form-group input, .form-group button
{
  width: 90%;
  padding: 10px;
  margin: 0px;
}
.form-group label {
    margin-bottom: 10px;
}.form-group button {
    background-color: rgb(10, 10, 10);
    color: white;
}








footer{
  margin-top: 0px;
}





@media (max-width: 980px) {

.aboutImg img
{
object-fit: cover;
width: 100%;
max-height: 100%;
}
div div
{
width: 100%;
}
div
{
display: block;
justify-content: center;
}
.aboutText h2
{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  color: rgb(10, 10, 10);
  white-space: normal;
}
.aboutText
{
  display: block;
  margin-block: 4%;
  padding-inline: 0%;
}.centerAccueil div h2
{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
}.centerAccueil div
{

margin-inline: 5%;
width: 90%;
}
.login-container form
{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 40%;
  border-radius: 0;
}

}


/*
body {
    background: #ffffff;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Roboto" !important;
}
nav {
    background-color: #51b27188;
    backdrop-filter: blur(20px);
    height: 80px;
    padding: 0;
    margin: 0;
}
nav h1 a{
    width: fit-content;
    color: white !important;
    font-size: 30px !important;
    max-width: 50%;
    text-shadow: 0 0px 17px rgba(0, 0, 0, 0.14);
    font-weight: bold;

}
nav .onglets p {
    padding-inline: 20px;
    display: flex;
    align-items: center;
}
.link a, .link {
    color: white !important;
    font-size: 24px !important;
    text-shadow: 0 0px 17px rgba(0, 0, 0, 0.14);
    font-weight: bold;
    padding: 0;
    margin: 0;

}

#contenu>nav~figure {
    display: none;
}

body section {
    margin-top: 7%;
    align-items: center;
    display: block;
    width: 100%;
}

/* section h2, section h3 {
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;
    font-size: 28px;
    max-width: 50%;
    backdrop-filter: blur(20px);
} */
/*
 section h2, section h3 {
    margin: 0;
    padding: 30px 10%;
    font-size: 28px;
    margin-inline: 5%;

    
} 

section>div {
    margin: 0;
    padding: 5%;
    backdrop-filter: blur(20px);
    margin-inline: 5%;
}

section h3:nth-child(2n+3) {
    background-color: #51b27188;
    border-radius: 30px 30px 0 0;
    /* Ajoutez d'autres styles si nécessaire *//*
}

section h3:nth-child(4n+3) {
    background-color: #DFF2D8;
    /* Ajoutez d'autres styles si nécessaire *//*
}
section h2 {
    
    background-color: #51b27188;
    border-radius: 30px 30px 0 0;
}
section>div {
    margin-bottom: 5%;
}
section>div:nth-child(2n) {
    background-color: # ;
    border-radius: 0 0 30px 30px;
    /* Ajoutez d'autres styles si nécessaire *//*
}


section>div:nth-child(4n) {
    background-color: #DFF2D8;
    /* Ajoutez d'autres styles si nécessaire *//*
}
